.bili-red{color:#FF3333;}
.bili-red-bg{background:#FF3333;}
.bili-green{color:#99CC66;}
.bili-green-bg{background:#99CC66;}
.bili-silver{color:#CCCCCC;}
.bili-silver-bg{background:#CCCCCC;}
.bili-orange{color:#FF9966;}
.bili-orange-bg{background:#FF9966;}
.bili-pink{color:#FF0066;}
.bili-pink-bg{background:#FF0066;}
.bili-orangeRed{color:#FF6600;}
.bili-orangeRed-bg{background:#FF6600;}
.bili-royalBlue{color:#66CCFF;}
.bili-royalBlue-bg{background:#66CCFF;}
.bili-white{color:#fff;}
.bili-white-bg{background:#fff;}
.hidden{display:none;}
#nav{margin-top:10px;}
#nav ul{margin-bottom:3px;}
#nav ul li a{cursor:pointer;}
#nav ul li form{margin-bottom:0;}
#nav .tab-content{height:26px; line-height:26px;padding:0 10px;}
#nav .tab-content a{padding:0 5px;}